body {
    background-color: lightgray;
    font-family: "Roboto Slab", serif;
    /* font-family: "Poppins", sans-serif; */
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* color: rgb(67, 64, 64); */
}

.header-img {
    width: 100%;
    margin: 0;
    padding: 0%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid rgb(190, 8, 168);
}

.header-img h1 {
    position: absolute;
    /* top: 15vh;
    z-index: 40000; */
    color: white;
}

.header-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    height: 45vh;
}

.header-img img {
    width: 100%;
    height: 45vh;
}

.content-box {
    width: 100%;
    max-width: 1300px;
    padding: 50px 9px;
    background-color: lightgray;
    display: flex;
    min-height: 55vh;
    justify-content: center;
    margin: 0px auto;
    font-size: 20px;

}

.content-box img {
    width: 30%;
    margin-right: 30px;
    height: 500px;
}

/* Academics */
.acad-heading {
    position: relative;
}

.acad-timeline {
    position: absolute;
    right: 10px;
}

/* Gallery */
.gallery-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-img {
    box-sizing: border-box;
    border: 8px solid rgb(235, 234, 227);
    margin: 10px 10px;
    border-radius: 6px;
}

#img1 {
    width: 72%;
}

#img2 {
    width: 23%;
}


.gallery-img img {
    border-radius: 6px;
    height: 450px;
}

@media only screen and (max-width:900px) {
    #img1 {
        width: 100%;
    }

    #img2 {
        width: 100%;
    }

    .gallery-img img {
        height: 600px;
    }
}

@media only screen and (max-width:800px) {
    .header-img img {
        height: 35vh;
    }

    .header-overlay {
        height: 35vh;
    }

    .content-box {
        flex-direction: column;
    }

    .content-box img {
        width: 96%;
        height: 400px;
        /* max-width: 400px; */
        margin: 0px auto;
        margin-bottom: 30px;
    }


    .gallery-img img {
        height: auto;
        max-height: 500px;
    }

    .acad-timeline {
        display: none;
    }

}



@media only screen and (max-width:500px) {
    .header-img img {
        height: 25vh;
    }

    .header-overlay {
        height: 25vh;
    }
}