.admin-academics {
  max-width: 800px;
  margin: 50px auto;
  text-align: center;

}

.admin-academics h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.admin-academics form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.admin-academics input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-academics button {
  padding: 7px 13px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-academics button:hover {
  background: #0056b3;
}

.admin-academics ul {
  list-style: none;
  padding: 0;
}

.admin-academics li {
  background: white;
  font-size: 15px;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-academics .timeline {
  float: right;
  font-weight: bold;
  font-size: 14px;
}

.admin-academics .cgpa {
  font-weight: bold;
  color: #007bff;
}

.admin-academics button {
  margin: 5px;
}

#btn-edit {
  background-color: green;
}

#btn-edit:hover {
  background-color: rgb(6, 92, 6);
}

#btn-delete {
  background-color: rgb(220, 7, 7);
}

#btn-delete:hover {
  background-color: rgb(155, 10, 10);
}
